/*
To do:
1. Ability to change order of instructions/ingredients items
2. Fix sizing of input fields
3. Wrap text on metaData (make grid instead of text box)
4. Aesthetic (color scheme, Logo align between pages)
5. Change recipeCardGrid layout for desktop
*/

body {
    margin: 0 0 5mm 0;
    background-color: antiquewhite;
}

article[id='ingredients'] > h2, article[id='instructions'] > h2 {
    margin: 2mm 0mm 2mm 3mm;

}

article[id='ingredients'] > div, article[id='instructions'] > div {
    margin: 0 0 2mm 5mm;
    display: flex;
}

/************/
/** NAVBAR **/
/************/
#navbarGrid {
    display: grid;
    background-color: lightblue;
    grid-template-columns: 5px 50px auto 50px 50px;
    
    /* sticky navbar */
    position: fixed;
    top: 0;
    width: 100%;
}

/* gives margin to first element after navbar so doesn't overlap */
#navbarGrid + * {
    margin-top: 65px;
}

#navbarGrid > * {
    height: 33px;
    width: 33px;
    margin: 1mm;
}

#backBtn {
    grid-column: 2/3;
}

#logo {
    grid-column: 3/4;
    width: 150px;
}

#confirmBtn {
    grid-column: 4/5;
}

#cancelBtn {
    grid-column: 5/6;
}

/***********/
/** TITLE **/
/***********/
#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1mm;
    font-size: calc(12px + 5vw);
    width: 90%;
    resize: vertical;
    height: 185px;
}

#metaData > * {
    text-align: center;
    padding: 1mm;
    font-size: calc(10px + 1.2vw);
}

#metaData {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3mm 5mm 0mm 0mm;
}

/**********/
/** TAGS **/
/**********/
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0mm 0mm 10mm 0mm;
}

.tags > * {
    border: solid;
    border-radius: 5mm;
    border-color: burlywood;
    margin: 1mm;
    padding: 1mm;
    background-color: wheat;
    opacity: 0.5;
    cursor: pointer;
}

.selected {
    opacity: 1;
}

/*****************/
/** RECIPE CARD **/
/*****************/
#recipeCardGrid {
    display: grid;
    grid-auto-rows: auto;
    width: 95%;
    
    /* center recipe card */
    margin: auto;
    place-items: center;
}

#recipeCardGrid > * {
    width: 100%;
    margin: 1mm 0;
    border: solid;
    background-color: wheat;
}

#recipeImg {
    grid-row: 1/2;
}

#uploadImg {
    grid-row: 2/3;
}

/* #imageEdit {
    grid-row: 1/2;
} */

#ingredients {
    grid-row: 3/4;
}

#instructions {
    grid-row: 4/5;
}


/******************/
/** DESKTOP VIEW **/
/******************/
@media(min-width: 770px) {

}