body {
    margin: 0 0 5mm 0;
    background-color: antiquewhite;
}

/************/
/** NAVBAR **/
/************/
#navbarGrid {
    display: grid;
    background-color: rgb(224, 248, 255);
    grid-template-columns: 5px 50px auto 50px 50px;
    
    /* sticky navbar */
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;

    border-bottom: solid;
    border-width: 1px;
}

/* gives margin to first element after navbar so doesn't overlap */
#navbarGrid + * {
    margin-top: 65px;
}

#navbarGrid > * {
    height: 33px;
    width: 33px;
    margin: 1mm;
}

#logo {
    grid-column: 2/3;
    width: 150px;
    margin: 0mm;
    height: 115%;
    overflow-y: hidden;
}

#inputs {
    border: solid;
}