/*
Notes to fix:
Aesthetic:
1. Heart full/empty icons don't line up
2. Borders around editOptionsBtn are doubled in between icons
3. Icons don't fit theme (looks ugly)
4. Title isn't centered between nav/edit buttons
5. Divider between metaData, what to do about blank info
6. Border/box-shadow/padding around icons messes up spacing on nav bar
7. Website title/Devil Dishes consistent nav bar between pages
8. Put delete button once in edit page (not as icon)

Function:
5. Layout img/ingred/instructions 
    a. (use grid?)
    b. media query
6. Scroll bar for text lists

Justifications:
1. Want to always see both, scroll bars
*/

body {
    background-color: white;
    margin: 0;
}

h1, .metaData {
    border-width: 1mm;
    text-align: center;
    display: inline;
    padding: 1mm;
    margin: 1mm;
}

h1 {
    font-size: calc(16px + 5vw);
}

h2 {
    color: blue;
    padding: 0 0 0 3mm;
}

.checklistItem {
    color: red;
    padding: 0 0 0 3mm;
}

.center {
   width: 100%;
   display: flex;
   justify-content: center;
}

.cover {
    object-fit: cover;
}

.editOptionBtns {
    /* border: solid; */
    box-shadow: inset 0 0 0 0.3em;
    /* padding: 2mm 2mm 2mm 2mm; */
}

.iconBtn {
    width: 45px;
    height: 45px;
    margin: 2mm 0mm 2mm 0mm;
}

#backArrow, #editOptions {
    display: inline-block;
    /* margin: 2mm 2mm 2mm 2mm; */
}

#confirmEdit {
    border: solid;
    float: right;
    font-size: 0;  /*removes space between btns*/
}
 
#editOptions {
    float: right;
    font-size: 0;  /*removes space between btns*/
}

#ingredientsList {
    border: solid;
    width: 40vw;
    height: 40vw;
    margin: 3mm 0mm 3mm 0mm;

}

#instructionsList {
    border: dashed;
    width: 60vw;
    float: right;

    /*Set maximum height, then have scroll through element*/
}

#navigation {
    /* border: dashed; */
    background-color: lightblue;
    padding: 2mm;
    font-size: 0;
}

#recipeImg {
    border: solid;
    width: 40vw;
    height: 40vw;
    margin: 3mm 0mm 3mm 0mm;
}