/*
Notes to fix:
1. Heart full/empty icons don't line up
2. Borders around editOptionsBtn are doubled in between icons
3. Icons don't fit theme (looks ugly)
4. Title isn't centered between nav/edit buttons

*/

body {
    background-color: lightgreen;
}

h2 {
    color: blue;
    padding: 0 0 0 3mm;
}

.checklistItem {
    color: red;
    padding: 0 0 0 3mm;
}

#recipeImg {
    border: solid;
    /* width: 50%; */
    /* padding: 100%;  1:1 aspect ratio */
    /* height: 50px; */
    width: 40vw;
    height: 40vw;
    margin: 3mm 0mm 3mm 0mm;

}

#ingredientsList {
    border: solid;
    width: 40vw;
    height: 40vw;
    margin: 3mm 0mm 3mm 0mm;

}

#instructionsList {
    border: dashed;
    width: 60vw;
    float: right;

    /*Set maximum height, then have scroll through element*/

}

/*jonny css*/

h1, #metaData {
    border-style: solid;
    border-width: 1mm;
    text-align: center;
    display: inline;
    padding: 1mm;
    margin: 1mm;
}

.iconBtn {
    width: 45px;
    height: 45px;
}

#backArrow, #editOptions {
    display: inline-block;
    margin: 2mm 0mm 0mm 2mm;
}
 
#editOptions {
    float: right;
    font-size: 0;   /*removes space between btns*/
}

.editOptionsBtn {
    border: solid;
}

.center {
   width: 100%;
   display: flex;
   justify-content: center;
}


.cover {
    object-fit: cover;
}

#confirmEdit {
    border: solid;
    float: right;
    font-size: 0;   /*removes spaace between btns*/
}
