<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DevDishes (Home Page)</title>
    <meta lang="utf-8" />
    <link rel="icon" href="../source/assets/images/logoBear.png" />
    <link rel="stylesheet" href="../source/assets/styles/homePageStyle.css" />
    <script src="../source/assets/scripts/home.js" type="module"></script>
    <script src="../source/assets/scripts/CRUD.js" type="module"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
    </style>
  </head>
  <body>
    <main>
        <div class="home-grid">
          <div class="logo">
            <img
            src="../source/assets/images/updatedlogo.png"
            width="300px"
            height="70px"
            />
          </div>
          <a class="a">Home</a>
          <a class="b">Explore</a>
          <div class="navbar">
            <button id="left">
              <img
                src="../source/assets/images/left.png"
                width="10px"
                height="10px"
              />
            </button>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <button id="right">
              <img
                src="../source/assets/images/right.png"
                width="10px"
                height="10px"
              />
            </button>
          </div>
          <div class="tags">
            Tags
            <p id="favorite">Favorite</p>
            <p id="breakfast">Breakfast</p>
            <p id="appetizer">Appetizer</p>
            <p id="main_course">Entree</p>
            <p id="side_dish">Side</p>
            <p id="dessert">Dessert</p>
            <p id="snack">Snack</p>
            <p id="salad">Salad</p>
            <p id="bread">Bread</p>
            <p id="soup">Soup</p>
            <p id="beverage">Beverage</p>
            <p id="sauce">Sauce</p>
            <p id="marinade" >Marinade</p>
            <p id="fingerfood">Finger Food</p>
            <p id="drink">Drink</p>
        </div>
          <input class="search" />
          <button class="search-button">
            <img
              src="../source/assets/images/search.png"
              width="30px"
              height="30px"
            />
          </button>
          <div class="recipe-grid">
            <a class="createPanel">
                <p>Create a new recipe<br/><button id="createButton">+</button></p>
            </a>
            <a class="recipe"></a>
            <a class="recipe"></a>
            <a class="recipe"></a>
            <a class="recipe"></a>
            <a class="recipe"></a>
            <a class="recipe"></a>
            <a class="recipe"></a>
            <a class="recipe"></a>
          </div>
          <div class="foot">
            <i>Brought to you by the Software Devils</i>
          </div>
        </div>
    </main>
  </body>
</html>