<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevilDishes</title>
    <link rel="icon" href="../source/assets/images/logoBear.png" />
    <link rel="stylesheet" href="../source/assets/styles/landingPage.css" />
    <script
      src="../source/assets/scripts/landingPage.js"
      type="module"
    ></script>
  </head>
  <body>
    <header>
      <div>
        <nav class="navigation">
          <a class="landingPage" href=""
            ><img src="../source/assets/images/logo.png" alt=""
          /></a>
          <a class="navbarLinks" href="../index.html">My Recipes</a>
          <a class="navbarLinks" href="../views/explorePage.html">Explore</a>
          <a class="navbarLinks" href="../views/login.html">Login</a>
          <a class="navbarLinks" href="../views/register.html">Sign Up</a>
        </nav>
      </div>
    </header>

    <main class="midPage">
      <img id="landingImg" src="../source/assets/images/recipeImg.jpg" />
      <h1 class="mainTitle">Devil Dishes</h1>
      <p class="about">
        Welcome to Devil Dishes!
        <br />
        Jump right in and explore our list of quick, delicious meals ready to be
        made.
        <br />
        Feel free to create some of your own and share with others!
      </p>
      <a href="../views/explorePage.html" class="exploreButton">Explore!</a>
    </main>

    <footer class="footer">
      <p>Copyright &copy; 2021 Software Devils</p>
    </footer>
  </body>
</html>
