<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>Login</title>
        <link rel='stylesheet' href='../source/assets/styles/login.css'>
        <script src='assets/scripts/login.js' type="module"></script>
    </head>
    <body>
        

        <nav id='navbarGrid'>
            <img id='logo' src='../source/assets/images/logo.png'>
        </nav>

        <form id='inputs'>
            <label for='username'>Username: </label>
            <input type='text' id='username' >
            <label for='password'>Password: </label>
            <input type='password' id='password' >

            <input type='submit' id='submit' value='Login'>
            <!-- CHANGE VALUE BASED ON DROP DOWN -->
            <label for="userType">Choose:</label>
            <select id="userType">
                <option value="login">Login Existing User</option>
                <option value="register">Register New User</option>
            </select>
        </form>

    </body>
</html>