<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>Register</title>
        <link rel='stylesheet' href='../source/assets/styles/register.css'>
        <!-- <script src='assets/scripts/register.js' type="module"></script> -->
    </head>
    <body>
        <nav id='navbarGrid'>
            <img id='logo' src='../source/assets/images/logo.png'>
        </nav>

        
        <form id='inputs'>
            <h2>Create a New Account</h2>

            <input type='text' id='email' placeholder='Enter email'>
            <input type='text' id='username' placeholder='Enter username'>
            <input type='password' id='password' placeholder='Enter password'>
            <input type='password' id='confirmPassword' placeholder='Confirm password'>

            <input type='submit' id='submit' value='Sign Up'>

            <p id='errorMsg'>Error Message here</p>

            <p>Already have an account? <a id=loginLink href='../views/login.html'>Log in</a></p>
        </form>

    </body>
</html>