<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>View Recipe</title>
        <link rel='stylesheet' href='../source/assets/styles/viewRecipe.css'>
        <script src='../source/assets/scripts/viewRecipe.js' type="module"></script>
    </head>
    <body>
        <nav id='navbarGrid'>
            <span><input type='image' id='backBtn' src='../source/assets/images/backArrow.png'></span>
            <img id='logo' src='../source/assets/images/logo.png'>
            <a href='../views/editRecipe.html'><img id='editBtn' src='../source/assets/images/pencil.png'></a>
            <input type='image' id='favBtn' src='../source/assets/images/heartEmpty.png'>
        </nav>
        
        <h1 id='title'>Ice Cream Sundae</h1>
        <div id='metaData'>
            <p><b>Servings:</b> <span id='servings'>4</span> &nbsp;</p>
            <p><b>Cooking Time:</b> <span id='cookTime'>45</span> minutes &nbsp;</p>
            <p><b>Author:</b> <span id='author'>Jonny Tran</span></p>
        </div>

        <div id='tags'>
        </div>

        <div id='recipeCardGrid'>
            <img id='recipeImg' src='../source/assets/images/recipeImg.jpg'>

            <article id='ingredients'>
                <h2>Ingredients</h2>

                <div>
                    <input type='checkbox' id='ingredient1'>
                    <label for='ingredient1'>1 pint chocolate ice cream</label>
                </div>

                <div>
                    <input type='checkbox' id='ingredient2'>
                    <label for='ingredient2'>1 pint vanilla ice cream</label>
                </div>

                <div>
                    <input type='checkbox' id='ingredient3'>
                    <label for='ingredient3'>whipped cream</label>
                </div>
            </article>

            <article id='instructions'>
                <h2>Instructions</h2>
                
                <div>
                    <input type='checkbox' id='instruction1'>
                    <label for='instruction1'>Add chocolate ice cream</label>
                </div>
                
                <div>
                    <input type='checkbox' id='instruction2'>
                    <label for='instruction2'>Add vanilla ice cream</label>
                </div>

                <div>
                    <input type='checkbox' id='instruction3'>
                    <label for='instruction3'>Add whipped cream</label>
                </div>
            </article>
        </div>
    </body>
</html>