<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>View Recipe</title>
        <link rel='stylesheet' href='../source/assets/styles/viewRecipe.css'>
        <script src='../source/assets/scripts/viewRecipe.js' type="module"></script>
    </head>
    <body>
        <nav id='navbarGrid'>
            <input type='image' id='backBtn' src='../source/assets/images/backArrow.png'>
            <img id='logo' src='../source/assets/images/logo.png'>
            <input type='image' id='editBtn' src='../source/assets/images/pencil.png'>
            <input type='image' id='favBtn' src='../source/assets/images/heartEmpty.png'>
        </nav>
        
        
        <h1 id='title'>Ice Cream Sundae</h1>
        <div id='metaData'>
            <p><b>Servings:</b> <span id='servings'>4</span> &nbsp;</p>
            <p><b>Cooking Time:</b> <span id='cookTime'>45</span> minutes &nbsp;</p>
            <p><b>Author:</b> <span id='author'>Jonny Tran</span></p>
        </div>

        <div id='tags'>
            <p>Dessert</p>
            <p>Healthy</p>
            <p>Sugar Free</p>
            <p>Vegan</p>
            <p>Cheap!</p>
            <p>Intermediate</p>
        </div>

        <div id='recipeCardGrid'>
            <img id='recipeImg' src='../source/assets/images/recipeImg.jpg'>

            <article id='ingredients'>
                <h2>Ingredients</h2>
                

                <div id='ingredient1'>
                    <input type='checkbox'>
                    <label for='ingredient3'>1 pint chocolate ice cream</label>
                </div>

                <div id='ingredient2'>
                    <input type='checkbox'>
                    <label for='ingredient3'>1 pint vanilla ice cream</label>
                </div>

                <div id='ingredient3'>
                    <input type='checkbox'>
                    <label for='ingredient3'>whipped cream</label>
                </div>
            </article>

            <article id='instructions'>
                <h2>Instructions</h2>
                
                <div id='instruction1'>
                    <input type='checkbox'>
                    <label for='instruction1'>
                        Add chocolate ice cream    
                    </label>
                </div>
                
                <div id='instruction2'>
                    <input type='checkbox'>
                    <label for='instruction2'>
                        Add vanilla ice cream    
                    </label>
                </div>

                <div id='instruction3'>
                    <input type='checkbox'>
                    <label for='instruction3'>
                        Add whipped cream    
                    </label>
                </div>
            </article>
        </div>
    </body>
</html>