<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>View Recipe</title>
    <link rel="stylesheet" href="../source/assets/styles/viewRecipe.css" />
    <script src="../source/assets/scripts/viewRecipeExplore.js" type="module"></script>

    <!-- Ref: Lab 5 and https://github.com/loonywizard/js-confetti -->
    <script src="../source/assets/scripts/Confetti/js-confetti.browser.js"></script>
  </head>
  <body>
    <nav id="navbarGrid">
      <!-- <span
        ><input
          type="image"
          id="backBtn"
          src="../source/assets/images/backArrow.png"
      /></span> -->

      <input
        type="image"
        id="backBtn"
        src="../source/assets/images/backArrow.png"
      />
      <img id="logo" src="../source/assets/images/logo.png" />
      <!-- <a href='../views/editRecipe.html'><img id='editBtn' src='../source/assets/images/pencil.png'></a> -->
      <!-- <a ><img id='editBtn' src='../source/assets/images/pencil.png'></a> -->
      <input
        type="image"
        id="favBtn"
        src="../source/assets/images/heartEmpty.png"
      />
    </nav>

    <h1 id="title"></h1>
    <div id="metaData">
      <p><b>Servings:</b> <span id="servings"></span> &nbsp;</p>
      <p><b>Cooking Time:</b> <span id="cookTime"></span> minutes &nbsp;</p>
      <p><b>Author:</b> <span id="author"></span></p>
    </div>

    <div id="tags"></div>

    <div id="recipeCardGrid">
      <img id="recipeImg" src="" />

      <article id="ingredients">
        <h2>Ingredients</h2>
      </article>

      <article id="instructions">
        <h2>Instructions</h2>
      </article>
    </div>
  </body>
</html> -->
