body {
  background-color: lightskyblue;
}

@media only screen and (min-width: 1000px) {
  .recipe-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
    padding: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .recipe-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: auto auto;
    background-color: lightblue;
    padding: 10px;
  }
}

@media only screen and (max-width: 599px) {
  .recipe-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: auto;
    background-color: lightblue;
    padding: 10px;
  }
}

.recipe {
  background-color: antiquewhite;
  border: solid lightblue;
  font-size: 12pt;
  text-align: center;
  padding: 90px;
}

@font-face {
  font-family: 'lobster';
  src: url("assets/Lobster/Lobster-Regular.ttf");
}

.head {
  grid-area: header;
  font-size: 24pt;
  font-family: 'lobster';
  color: blue;
}

.logo {grid-area: logo;}
.search {grid-area: search;}
.search-button {grid-area: button;}

/* .tags {
  grid-area: tags;
  background-color: antiquewhite;
  border: solid blue;
  text-align: center;
} */

.foot {
  grid-area: footer;
  /* background-color: lightskyblue; */
  color: blue;
}

.navbar {
  grid-area: bar;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  /* background-color: lightskyblue; */
}

.home-grid {
  display: grid;
  grid-template-areas:
    'logo logo a b search search button'
    'tags recipes recipes recipes recipes recipes recipes'
    'tags recipes recipes recipes recipes recipes recipes'
    'tags recipes recipes recipes recipes recipes recipes'
    'tags bar bar bar bar bar bar'
    'footer footer footer footer footer footer footer';
  grid-gap: 10px;
  /* background-color: lightskyblue; */
  padding: 10px;
}

/* The sidebar menu */
.sidenav {
  width: fit-content;
  min-width: 20px;
  max-width: 100%;
  height: 720px;
  z-index: 1; /* Stay on top */
  top: 4; /* Stay at the top */
  left: 0%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 6px 80px 6px 10px;
  overflow-y: scroll;
  font-size: 2vw;
  text-align: left;
  color: #818181;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.a {
  grid-area: a;
  width: auto;
  height: auto;
  top: 100;
  border: 5px solid lightblue;
  padding: 10px;
  background-color: antiquewhite;
  text-decoration: none;
  font-size: 2vw;
}

.b {
  grid-area: b;
  width: auto;
  height: auto;
  top: 100;
  border: 5px solid lightblue;
  padding: 10px;
  background-color: antiquewhite;

  text-decoration: none;
  font-size: 2vw;
}

.tags {
  grid-area: tags;
  background-color: antiquewhite;
  border: solid lightblue;
  text-align: center;
  font-size: 30pt;
  width: fit-content;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 595px) {
  .sidenav {padding-top: 15px; width: 100px; /* Set the width of the sidebar */}
  .sidenav a {font-size: 18px;}
}